
<script src="/lib/ember-0.9.8.1.js"></script>
<script src="/utils.js"></script>
<script src="/app.js"></script>

<div id="app">
<script type="text/x-handlebars" data-template-name="friend" id="friend">
	{{#view App.FriendView}}
	<div class="container">
		<div id="alert">{{alert}}</div>
		<h1 id="name">{{friend.fullName}}</h1>
    	<div class="divider"></div>
    	
    	<div id="imagecontainer">
    		<img {{bindAttr src="friend.photo"}} />
	    	<div id="imageoverlay">
	    		<div id="arrowright"></div>
	    		<div id="addanote">{{friend.description}}</div>
	    	</div>
    	</div>

		<div class="feed-item">
    		<div id="notes">{{friend.notes}}</div>
			<div id="activity">{{friend.activity}}</div>
			<div id="location">{{friend.location}}</div>
			<div id="description">{{friend.description}}</div>
			<div id="profession">{{friend.profession}}</div>
			
			<div id="services">{{friend.services.one}}{{friend.services.two}}{{friend.services.three}}{{friend.services.four}}</div>
			<span id="connect"><a href="#" {{action "connect"}} class="connectBtn">Connect</a>
			<span id="skip"><a href="#" {{action "skip"}} class="skipBtn">Skip</a>
			</div>
    	</div>
		
    {{/view}}
</script>

<script type="text/x-handlebars" data-template-name="connect" id="connect">	
	{{#view App.ConnectView}}
	<div class="container">
		<h1 id="name">Contact: <br/>{{friend.fullName}}</h1>
		<div id="services">
			<a href="#" {{action "selectOne"}} {{bindAttr id="friend.services.one"}}>{{friend.services.one}}</a>
			<a href="#" {{action "selectTwo"}} {{bindAttr id="friend.services.two"}}>{{friend.services.two}}</a>
			<a href="#" {{action "selectThree"}} {{bindAttr id="friend.services.three"}}>{{friend.services.three}}</a>
			<a href="#" {{action "selectFour"}} {{bindAttr id="friend.services.four"}}>{{friend.services.four}}</a>
		</div>
		<div>
		<input type="text" id="subject" style="display:none" />
		</div>
		<div>
		<textarea id="messageText" rows="6" cols="50"/></div>
		<span id="message"><a href="#" {{action "send"}} class="messageBtn">Send</a>		 
	</div>
	{{/view}}
</script>

<script type="text/x-handlebars" data-template-name="skip" id="skip">
	<h2>Skip</h2>
	{{#view App.SkipView}}
		 
	{{/view}}
</script>
</div>	

