

    <div class="container">
       	<div id="logo"></div>
       	
		  <p style="padding-bottom:15px;">First you need to connect your LinkedIn account to Pipe so we can pull in your contacts:</p>
		  <p>	
		  	<div id="authOptions">	
		  	<% for (var i = 0; i < services.length; i++) { %>
	 			<%- services[i].link %>
			<% } %>
		  	</div>
		  </p>
          <p style="font-size:14pt;">We will support Twitter very shortly, and Facebook soon after!</p>
		  <p style="padding-bottom:15px;">Every day we'll notify you of the one contact you should reach out to.</p>
		  <a href="/pipe" class="btn btn-large btn-success" onclick="mixpanel.track('auth-continue');" style="font-size:18px; margin-bottom:30px">Ok, I'm done! &nbsp;&nbsp;<i class="icon-share-alt icon-white"></i></a>
    </div>
    
    <!-- Le Footer javascript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
