<div class="container">
   <a href="/pipe"><div id="logo"></div></a>

   <h2>Privacy Policy</h2>
   
      <p>We don't share your personal information with anyone.</p>
      <p>In order for Pipe to function properly, we store information about your contacts (Photos, Quotes, etc.), your preferences (Skips), and your messages (Connects).</p>
      <p>We comply with all the required (and most of the recommended) Developer Best Practices from Singly as stated <a href="https://dev.singly.com/best_practices">here</a>.</p>
      </ul>
   <p>

   </p>
</div>
    