
  
    <div class="container" style="height:416px;">
       	<img style="padding-top:20px;" src="img/index_logo.png" alt="Pipe" width="260" height="120" /><br />
       	<img style="padding-top:10px; padding-bottom:10px;" src="img/index_men.png" alt="He's the man" width="280" height="70" /><br />
	    <p id="explanation">Reconnect with your network one person at a time.</p>
	    <a href="/auth">
			<img style="padding-top:20px;" src="img/index_button.jpg" alt="Click to continue" width="250" height="60" />
		</a>
    </div>
