 <div class="container home" >
       	<div id="logo"></div>
       	
       	<div class="desktop">
	       	<!--<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://pipeapp.co" data-text="Check out this awesome site that helps you reconnect with your network:" data-via="pipeapp" data-related="sinak" data-hashtags="singly10k">Tweet</a>-->
	       	<!--<div class="fb-like" data-href="http://pipeapp.co" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false"></div>-->
       	</div>

	    <p id="explanation" class="nodesktop">Reconnect with your network one person at a time.</p>
	    <p id="explanation" class="desktop">Pipe helps you reconnect with people in your network by highlighting one person you should contact  each day.</p>
	    <a href="/auth">
			<img class="startitup" id="continue" src="img/index_button.jpg" alt="Click to continue" width="250" height="60" />
		</a><br /><br />
		<div class="nodesktop"><img  src="img/home_circles.png" alt="ooh, circles!" width="320" height="100" /><br /></div></div>
		
		<div class="desktop" id="bigcircles"></div>
		
    </div>