@font-face {
	font-family: 'KievitOT-ExtraLight';
	src: local('☺'), url('../kievitotextralight.ttf') format('truetype');
}

      body {
		/*-webkit-text-size-adjust: none;
    	-webkit-background-size: 150px 150px;*/
    	font-family: KievitOT-ExtraLight, serif;
      }
      
	
	
      body > div.container {
      	text-align:center;
      	min-height:377px;
      	width:97%;
      	margin:0 auto;
      	position: relative;
      	padding:0;
      	min-height:417px;
      }
      body > div.container p { 
      	font-size:16px;
      	line-height: 130%;
      	width:100%;
      	margin: 0 auto;
      	padding:10px 0;
      	}
      p#explanation {
      font-size:23px;
      }
      
      h1#name {
	      padding-top:15px;
	      font-size:32px;
	      color:#62aada;
	      padding-bottom:10px;
      }
      
      div#imagecontainer {
      	margin: 0 auto;
      	width:160px;
      	position:relative;
        background: transparent url() no-repeat top center; 
        background-size:cover;
        -webkit-border-radius: 8px;
        border-radius:8px;
        height:160px;
        overflow:hidden;

      }
      
      div#imagecontainer img {      
	    vertical-align: middle;
	    width: 100%;
	  }
      
      div#arrowright {
        background: transparent url(../img/arrow_circle_right.png) no-repeat right center;
    	-webkit-background-size: 15px 25px;
    	width:40%;
    	margin-right:5px;
    	float: right;
    	height:100%;
      }
      
      div#imageoverlay {
        background: transparent url(../img/feed_img_overlay.png) no-repeat; 
    	-webkit-background-size: 300px 160px;
        height: 165px;
        overflow: hidden;
      }
      
      div#addanote {
        background: transparent url(../img/addanote_bg.png) bottom left no-repeat;
    	-webkit-background-size: 300px 30px;
    	position:absolute;
    	bottom:0px;
    	height:25px;
    	width:300px;
    	color:#fff;
    	font-size:16px;
    	padding-top:5px;
      }
      
      div#connectorskip {
      	margin-top:10px;
      }
      
      div#about, div#work{
	      padding:10px 0px;
      }
      div#about div#container, div#work div#container, div#live div#container   {
      	padding: 0 15px;
      	
      }
      div#divider {
	      width:100%;
	      height: 2px;
          background: transparent url(../img/divider.png) repeat-x;
    	  -webkit-background-size: 75px 2px;
    	  margin:5px 0;
      }
      div#icon {
      	float:left;
      	width:40px;
      	height:50px;
      }
      div#work div#icon, div#live div#icon {
      	height:30px;
      	}
      div#text {
      	float:right;
      	width:245px;
      	text-align: left;
      	padding-bottom:4px;
      	}
      div#about div#icon {
        background: transparent url(../img/info_quote.png) center center no-repeat;
    	-webkit-background-size: 21px 16px;
      }
      div#work div#icon {
        background: transparent url(../img/info_work.jpg) center center no-repeat;
    	-webkit-background-size: 30px 30px;
      }
      div#live div#icon {
        background: transparent url(../img/info_hometown.jpg) center center no-repeat;
    	-webkit-background-size: 30px 30px;
      }
      div#live div#text {
      	padding-top:5px;
      }
      form#contact textarea {
      width:90%;
      height:100px;
      margin:5px 0 10px 0;
      }
      div#radios {
      	line-height:20px;
      	padding-left:30px;
      	font-size:16px;
      	text-align: left;
      	margin-bottom:25px;
      	margin-top:15px;
      }
      
      form#contact input[type="image"] {
      	margin-top:5px;
      }
      
      h1.back {
        background: transparent url(../img/back_btn.png) no-repeat 15px 16px;
    	-webkit-background-size: 35px 35px;
      }
      
      form#contact {
      }
      div#sendviatext {
      float:left;
      width:120px;
      height:30px;
      padding-top:15px;
      }
      div#sendsocialnetworks {
      float:left;
      width:150px;
      }
      
      
      
            body.firstLogin {
        /*background: transparent url('../img/home-mobile/birdy-bg.jpg') repeat;
		-webkit-text-size-adjust: none;
    	-webkit-background-size: 150px 150px;*/
    	background: black;
      	min-height:386px;
      }
      
      body.firstLogin div.container {
      	text-align:center;
      	background-color: white;
      	width:100%;
      	-webkit-border-radius: 10px 10px 0px 0px;
      	margin-top:2px;
      }
      body.firstLogin div.container p {
      	font-size:16px;
      	line-height: 130%;
      	width:90%;
      	margin: 0 auto;
      	padding-top:10px;
      }
      body > div.container > div.gagglelist > p {
      	padding:5px 0;
      	}
      	
      .desktop {display: none;}
      
      img.startitup {padding-top:20px}
      	
    div#logo {
    	width:260px;
    	height:120px;
    	background: transparent url(../img/index_logo.png) no-repeat center center;
    	-webkit-background-size: 260px 120px;
    	margin:0 auto;
    	padding-top:20px;
    	
    }
      	
@media screen and (min-width:768px) {
	
	body.firstLogin { 
	background: transparent url(../img/desktop/header_bg.jpg) repeat-x 0px -20px ;
	}
	
	body.firstLogin div.container.home {
	background: transparent url(../img/desktop/devices.jpg) no-repeat center 350px;
	min-height:630px;
	}
	
	
	body.firstLogin div.container{
	background:transparent;
	min-height:630px;
	}
	
	body.firstLogin div.container p {
		width:500px;
		font-size:24px;
	}
	
	.nodesktop {
	display:none;
	}
	
	p#explanation.desktop {
		width:540px;
		margin-top:20px;
		line-height: 34px;
	}
	
	.desktop {
	display:inherit;
	}
      
    div#bigcircles {
	background: transparent url(../img/home_circles.png) no-repeat center bottom;
	height:180px;
    }
    
    div#logo {
    	width:260px;
    	height:120px;
    	background: transparent url(../img/desktop/pipe_trans.png) no-repeat center bottom;
    	margin:0 auto;
    	padding-top:20px;
    	margin-bottom:10px;
    }
    
    div#desktopcontainer {
    	width:600px;
    	margin:0 auto;
    	
    }
    
    a, a:hover {text-decoration:none;}
    
    h1#name {font-size:45px; padding-bottom:40px; padding-top:18px;}
    
    div#sendvia {
    	margin: 0 auto;
    	width:300px;
    	padding-top:20px;
    }
    
    div#radios { width:70%; margin: 30px auto;}
    
    form#contact textarea {height:200px}
    
    div#sendviatext {
    	font-size:20px;
    	
    	padding-bottom:20px;
    }
    
    div#bigcircles {border-bottom:solid 5px #ff8400}
    
   div#about div#icon {-webkit-background-size: 42px 32px;height: 60px;width:55px; padding-top:20px;}
   div#work div#icon {-webkit-background-size: 50px 50px; height: 70px;width:60px;}
   div#live div#icon {-webkit-background-size: 50px 50px; height: 60px;width:60px; padding-left:3px;}
   div#text {font-size:17px; line-height:25px; float:right; width:495px; padding-top:17px;}
   div#live div#text {padding-top:15px}
   div#about div#text {padding-top:20px}
   div#text {}
   body.firstLogin.feed {background-position-y: -90px}
    
      img.startitup {padding-top:5px}
      
}

label {
    display:inline;
}