@font-face {
	font-family: 'KievitOT-ExtraLight';
	src: local('☺'), url('../kievitotlight.ttf') format('truetype');
}

      body {
		/*-webkit-text-size-adjust: none;
    	-webkit-background-size: 150px 150px;*/
    	font-family: KievitOT-ExtraLight, serif;
      }
      
	
	
      body > div.container {
      	text-align:center;
      	min-height:377px;
      	width:97%;
      	margin:0 auto;
      	position: relative;
      	padding:0;
      }
      body > div.container p { 
      	font-size:16px;
      	line-height: 130%;
      	width:100%;
      	margin: 0 auto;
      	padding:10px 0;
      	}
      p#explanation {
      font-size:23px;
      }
      
      h1#name {
	      padding-top:15px;
	      font-size:32px;
	      color:#62aada;
	      padding-bottom:10px;
      }
      
      div#imagecontainer {
      	margin: 0 auto;
      	width:300px;
      	position:relative;
        background: transparent url(https://fbcdn-sphotos-a.akamaihd.net/hphotos-ak-ash4/294385_666169201648_5846446_n.jpg) no-repeat top center; 
        background-size:cover;
        -webkit-border-radius: 8px;
        border-radius:8px;
        height:165px;
        overflow:hidden;

      }
      
      div#imagecontainer img {      
	    vertical-align: middle;
	    width: 100%;
	  }
      
      div#arrowright {
        background: transparent url(../img/arrow_circle_right.png) no-repeat right center;
    	-webkit-background-size: 15px 25px;
    	width:40%;
    	margin-right:5px;
    	float: right;
    	height:100%;
      }
      
      div#imageoverlay {
        background: transparent url(../img/feed_img_overlay.png) no-repeat; 
    	-webkit-background-size: 300px 165px;
        height: 165px;
        overflow: hidden;
      }
      
      div#addanote {
        background: transparent url(../img/addanote_bg.png) bottom left no-repeat;
    	-webkit-background-size: 300px 30px;
    	position:absolute;
    	bottom:0px;
    	height:25px;
    	width:300px;
    	color:#fff;
    	font-size:16px;
    	padding-top:5px;
      }
      
      div#connectorskip {
      	margin-top:10px;
      }
      
      div#about, div#work{
	      padding:10px 0px;
      }
      div#about div#container, div#work div#container, div#live div#container   {
      	padding: 0 15px;
      	
      }
      div#divider {
	      width:100%;
	      height: 2px;
          background: transparent url(../img/divider.png) repeat-x;
    	  -webkit-background-size: 75px 2px;
    	  margin:5px 0;
      }
      div#icon {
      	float:left;
      	width:40px;
      	height:50px;
      }
      div#work div#icon, div#live div#icon {
      	height:30px;
      	}
      div#text {
      	float:right;
      	width:245px;
      	text-align: left;
      	padding-bottom:4px;
      	}
      div#about div#icon {
        background: transparent url(../img/info_quote.png) center center no-repeat;
    	-webkit-background-size: 21px 16px;
      }
      div#work div#icon {
        background: transparent url(../img/info_work.jpg) center center no-repeat;
    	-webkit-background-size: 30px 30px;
      }
      div#live div#icon {
        background: transparent url(../img/info_hometown.jpg) center center no-repeat;
    	-webkit-background-size: 30px 30px;
      }
      div#live div#text {
      	padding-top:5px;
      }
      form#contact textarea {
      width:90%;
      height:100px;
      margin:5px 0 10px 0;
      }
      form#contact {
      }
      div#sendviatext {
      float:left;
      width:120px;
      height:30px;
      padding-top:15px;
      }
      div#sendsocialnetworks {
      float:left;
      width:150px;
      }
      
      
      
      /*
      div#birds {
        background: transparent url(.../img/home-mobile/large-flying-birds.png) right bottom no-repeat;
      	min-height:416px;
    	-webkit-background-size: 215px 140px;
      }
      div.feed-item {
      	background: transparent url(../img/home-mobile/feed_item_bg.jpg) repeat;
    	-webkit-background-size: 150px 150px;
    	min-height:100px;
    	margin-top:5px;
    	margin-bottom:10px;
      	-webkit-border-radius: 7px;
      	border: 1px solid #fff;
		border:1px rgba(130, 130, 130, 0.4) outset ;
		width:100%;
      	min-height:160px;
      }*/
      div.feedsub1 {
      	width:99%;
      	-webkit-border-radius: 6px;
      	margin:0 auto;
      	position:relative;
      }
      div.left {
      	width:40%;
      	padding-top:0px;
      	min-height:160px;
      	position: relative;
      	float:left;
      	height:100%;
      }
      div.postedby {
      	font-size:15px;
      	padding-bottom:10px;
      	color:#000;
      }
      div.postedby img{
      	position: relative; top: 10px;
      	margin-right:4px;
      }
      div.postdetails {
      	text-transform:uppercase;
      	color: #666;
      	position: absolute;
      	top:45%;
      	margin-top:-28px;
      	left:20%;
      	margin-left:-35px;
      }
      div.postdetails img{
      padding-left:4px;
      padding-top:4px;
      }
      div.right {
      	float:right;
      	width:58%;
      	margin-right:3px;
      	margin-top:7px;
      }
      div.caption {
      	background: transparent url(../img/home-mobile/feed_quote_left.png) top left no-repeat;
      	width:104%;
    	-webkit-background-size: 10px 10px;
    	position:relative;
    	left:-5%;
    	margin-top:10px;
      }
      div.caption_sub {
      	background: transparent url(../img/home-mobile/feed_quote_right.png) bottom right no-repeat;
    	-webkit-background-size: 10px 10px;
    	padding:5px 7px 10px 7px;
    	margin-bottom:10px;
      }
      
      div.noimage {
      	margin-top:30px;
      	margin-bottom:30px;
      }
      
      div.gagglelist a {
      width:200px;
      }
      
      div.gagglelist .btn-large [class^="icon-"] {
      margin-top:3px;
      }
      
      div.navbar-inner {
      padding: 4px 5px 0px 5px; 
      height:45px; 
      border-radius:0px; 
      background: transparent url('../img/home-mobile/header-cloth-bg.jpg') repeat-x; 
      -webkit-background-size: 160px 55px;
      }
      div.navbar-inner div.container img {position:relative; top:5px}
     
      body.firstLogin {
        /*background: transparent url('../img/home-mobile/birdy-bg.jpg') repeat;
		-webkit-text-size-adjust: none;
    	-webkit-background-size: 150px 150px;*/
    	background: black;
      	min-height:386px;
      }
      
      body.firstLogin div.container {
      	text-align:center;
      	background-color: white;
      	width:100%;
      	-webkit-border-radius: 10px 10px 0px 0px;
      	margin-top:2px;
      }
      body.firstLogin div.container p {
      	font-size:16px;
      	line-height: 130%;
      	width:90%;
      	margin: 0 auto;
      	padding-top:10px;
      }
      body > div.container > div.gagglelist > p {
      	padding:5px 0;
      	}
      div.feed-item {
      	background: transparent url(img/home-mobile/feed_item_bg.jpg) repeat;
    	-webkit-background-size: 150px 150px;
    	min-height:100px;
    	margin-top:5px;
    	margin-bottom:10px;
      	-webkit-border-radius: 7px;
      	border: 1px solid #fff;
		border:1px rgba(130, 130, 130, 0.4) outset ;
		width:100%;
      	min-height:160px;
      }
      div.feedsub1 {
      	width:99%;
      	-webkit-border-radius: 6px;
      	margin:0 auto;
      	position:relative;
      }
      div.left {
      	width:40%;
      	padding-top:0px;
      	min-height:160px;
      	position: relative;
      	float:left;
      	height:100%;
      }
      div.postedby {
      	font-size:15px;
      	padding-bottom:10px;
      	color:#000;
      }
      div.postedby img{
      	position: relative; top: 10px;
      	margin-right:4px;
      }
      div.postdetails {
      	text-transform:uppercase;
      	color: #666;
      	position: absolute;
      	top:45%;
      	margin-top:-28px;
      	left:20%;
      	margin-left:-35px;
      }
      div.postdetails img{
      padding-left:4px;
      padding-top:4px;
      }
      div.right {
      	float:right;
      	width:58%;
      	margin-right:3px;
      	margin-top:7px;
      }
      div.caption {
      	background: transparent url(img/home-mobile/feed_quote_left.png) top left no-repeat;
      	width:104%;
    	-webkit-background-size: 10px 10px;
    	position:relative;
    	left:-5%;
    	margin-top:10px;
      }
      div.caption_sub {
      	background: transparent url(img/home-mobile/feed_quote_right.png) bottom right no-repeat;
    	-webkit-background-size: 10px 10px;
    	padding:5px 7px 10px 7px;
    	margin-bottom:10px;
		word-wrap:break-word;
      }
      
      div.noimage {
      	margin-top:30px;
      	margin-bottom:30px;
      }
      div.modal-backdrop {
      	top:-50px;
      	left:-50px;
      	width: 400px;
      	height: 900px;
      }
	 div.navbar {
	 margin-bottom:5px;
	 }
	 div.modal-body p.user {
	 margin:0 0 3px;
	 }
	 p.inviteButton {
	 text-align:center;
	 }